
.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-family: 'Leckerli One', cursive;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: left;
}

form .form-group {
    margin-bottom: 15px;
}

form .form-control {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
}

form .btn {
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
}

form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

#newPasswordMessage {
    border: 0px solid white;
}


form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ced4da; 
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form input[type="password"]:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); 
}
