/* Définir des variables pour les couleurs et les polices */
:root {
    --header-footer-bg-color: #a47c5f; /* Couleur du header */
    --footer-bg-color: #54B564; /* Couleur du footer */
    --text-color: #333;
    --font-family: 'Arial, sans-serif';
    --title-font: 'Leckerli One', cursive; /* Police pour le titre TerraRisk */
}

/* Style global */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: #fff; /* Fond blanc basique pour le body */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de la page pour maintenir le footer en bas */
}

header {
    background-color: var(--header-footer-bg-color);
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-family: var(--title-font); /* Appliquer la police Leckerli One au titre */
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.navbar-brand {
    font-family: var(--title-font);
    font-size: 1.5em;
}

.navbar-toggler {
    border: none;
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-footer-bg-color);
    width: 100%;
    display: none;
    margin-top: 1em; /* Espacement du header */
}

.navbar-nav .nav-item {
    text-align: center;
}

.navbar-nav .nav-link {
    color: #fff;
    padding: 1em;
    text-decoration: none;
    display: block;
}

.navbar-nav .nav-link:hover {
    background-color: #555;
}

.navbar-collapse.show + .navbar-nav {
    display: block;
}

main {
    padding: 2em;
    text-align: justify; /* Justification du texte pour une meilleure lisibilité */
    flex: 1; /* Permet au contenu principal de s'étendre pour remplir l'espace disponible */
}

section {
    margin-bottom: 2em;
}

section h2 {
    color: var(--header-footer-bg-color); /* Utilisation de la couleur du header pour les titres de section */
    text-align: start; /* Alignement du texte à gauche */
    margin-top: 0; /* Supprimer la marge supérieure par défaut */
}

/* Création de blocs pour les paragraphes du body */
main p {
    margin-bottom: 1em; /* Espacement entre les paragraphes */
    border: 1px solid #ccc; /* Bordure grise */
    padding: 1em; /* Padding autour du contenu */
}

footer {
    background-color: var(--footer-bg-color);
    color: #fff;
    padding: 1em 0;
    text-align: center
}